.Details{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 48px;
}

.Details__image{
  max-height: 350px;
  border-radius: 10px;
}

.Details > .CountryInfo{
  justify-self: start;
}

.Details ul li{
  font-weight: 600;
  font-size: 16px;
  padding: 8px 0px;
}

@media screen and (min-width: 768px){
  .Details{
    grid-template-columns: minmax(350px, 1fr) minmax(300px, 1fr);
    align-items: center;
  }
}